* {
    margin: 0;
    padding: 0;
}

.hello {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
}

.rotate {
    animation: rotation 8s infinite linear;
    font-size: x-large;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
